In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('train.csv')
ff=pd.read_csv('fulfilment_center_info.csv')
meal=pd.read_csv('meal_info.csv')
test=pd.read_csv('test_QoiMO9B.csv')
y=train['num_orders']
train.drop('num_orders',1,inplace=True)

In [3]:
result=pd.merge(train,meal,how='left')
X=pd.merge(result,ff,how='left')

In [4]:
X.groupby('cuisine').count()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,category,city_code,region_code,center_type,op_area
cuisine,,,,,,,,,,,,,
Continental,102795,102795,102795,102795,102795,102795,102795,102795,102795,102795,102795,102795,102795
Indian,112612,112612,112612,112612,112612,112612,112612,112612,112612,112612,112612,112612,112612
Italian,122925,122925,122925,122925,122925,122925,122925,122925,122925,122925,122925,122925,122925
Thai,118216,118216,118216,118216,118216,118216,118216,118216,118216,118216,118216,118216,118216

In [5]:


X.groupby('cuisine').count()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,category,city_code,region_code,center_type,op_area
cuisine,,,,,,,,,,,,,
Continental,102795,102795,102795,102795,102795,102795,102795,102795,102795,102795,102795,102795,102795
Indian,112612,112612,112612,112612,112612,112612,112612,112612,112612,112612,112612,112612,112612
Italian,122925,122925,122925,122925,122925,122925,122925,122925,122925,122925,122925,122925,122925
Thai,118216,118216,118216,118216,118216,118216,118216,118216,118216,118216,118216,118216,118216

In [6]:
X['category']=X['category'].map({'Beverages':1,'Biryani':2,'Desert':3,'Extras':4,'Fish':5,'Other Snacks':6,'Pasta':7,'Pizza':8,'Rice Bowl':9,'Salad':10,'Sandwich':11,'Seafood':12,'Soup':13,'Starters':14}).astype(int)

In [9]:
X['cuisine']=X['cuisine'].map({'Continental':1,'Indian':2,'Italian':3,'Thai':4}).astype(int)

In [8]:
X.groupby(['center_type']).count()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,category,cuisine,city_code,region_code,op_area
center_type,,,,,,,,,,,,,
1,262881,262881,262881,262881,262881,262881,262881,262881,262881,262881,262881,262881,262881
2,94074,94074,94074,94074,94074,94074,94074,94074,94074,94074,94074,94074,94074
3,99593,99593,99593,99593,99593,99593,99593,99593,99593,99593,99593,99593,99593

In [7]:
X['center_type']=X['center_type'].map({'TYPE_A':1,'TYPE_B':2,'TYPE_C':3}).astype(int)

# feature selection

In [10]:
X.describe()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,category,cuisine,city_code,region_code,center_type,op_area
count,4.565480e+05,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.00000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000
mean,1.250096e+06,74.768771,82.105796,2024.337458,332.238933,354.156627,0.081152,0.10920,6.257443,2.561961,601.553399,56.614566,1.642342,4.083590
std,1.443548e+05,41.524956,45.975046,547.420920,152.939723,160.715914,0.273069,0.31189,4.459965,1.101974,66.195914,17.641306,0.816105,1.091686
min,1.000000e+06,1.000000,10.000000,1062.000000,2.970000,55.350000,0.000000,0.00000,1.000000,1.000000,456.000000,23.000000,1.000000,0.900000
25%,1.124999e+06,39.000000,43.000000,1558.000000,228.950000,243.500000,0.000000,0.00000,1.000000,2.000000,553.000000,34.000000,1.000000,3.600000
50%,1.250184e+06,76.000000,76.000000,1993.000000,296.820000,310.460000,0.000000,0.00000,6.000000,3.000000,596.000000,56.000000,1.000000,4.000000
75%,1.375140e+06,111.000000,110.000000,2539.000000,445.230000,458.870000,0.000000,0.00000,10.000000,4.000000,651.000000,77.000000,2.000000,4.500000
max,1.499999e+06,145.000000,186.000000,2956.000000,866.270000,866.270000,1.000000,1.00000,14.000000,4.000000,713.000000,93.000000,3.000000,7.000000

In [11]:
 X.columns

Index(['id', 'week', 'center_id', 'meal_id', 'checkout_price', 'base_price',
       'emailer_for_promotion', 'homepage_featured', 'category', 'cuisine',
       'city_code', 'region_code', 'center_type', 'op_area'],
      dtype='object')

In [12]:
#X_new=X[['week','meal_id','checkout_price', 'base_price',
 #        'category', 'cuisine',
  #     'city_code', 'region_code', 'center_type', 'op_area']]

In [13]:
X.isna().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
category                 0
cuisine                  0
city_code                0
region_code              0
center_type              0
op_area                  0
dtype: int64

In [67]:
from sklearn.preprocessing import PolynomialFeatures

poly=PolynomialFeatures(degree=2,interaction_only=False,include_bias=False)
ps=poly.fit_transform(X[['category','cuisine']])

poly_df=pd.DataFrame(ps,columns=['category','cuisine','category^2','category^cuisine','cuisine^2'])

X_new=pd.merge(X,poly_df,how='outer',left_index=True,right_index=True)
X_new.drop(columns=['id','category_x','cuisine_x','center_type'],axis=1,inplace=True)

In [68]:



from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X_new,y,random_state=0)
reg=LinearRegression()
reg.fit(X_train,y_train)
reg.score(X_test,y_test)

#reg.score(X_train,y_train)

0.3117978347315421

In [69]:
X_test
reg.predict(X_test)

array([362.60975284, 379.34701521, 241.5134165 , ...,  74.23662985,
        65.66734488,  82.33828683])

In [70]:
r=pd.merge(test,meal,on='meal_id')
t=pd.merge(r,ff,on='center_id')
t.drop(['id'],axis=1)
t['category']=t['category'].map({'Beverages':1,'Biryani':2,'Desert':3,'Extras':4,'Fish':5,'Other Snacks':6,'Pasta':7,'Pizza':8,'Rice Bowl':9,'Salad':10,'Sandwich':11,'Seafood':12,'Soup':13,'Starters':14}).astype(int)
t['cuisine']=t['cuisine'].map({'Continental':1,'Indian':2,'Italian':3,'Thai':4}).astype(int)
t['center_type']=t['center_type'].map({'TYPE_A':1,'TYPE_B':2,'TYPE_C':3}).astype(int)

# extra tree regressor

In [84]:
from sklearn.ensemble import ExtraTreesRegressor

ext=ExtraTreesRegressor(n_estimators=50)
ext.fit(X_train,y_train)
ext.score(X_test,y_test)

0.8581162885963396

In [85]:
print(ext.feature_importances_)

[0.0741943  0.04795427 0.0643098  0.14667898 0.07454716 0.05143696
 0.08650537 0.03732479 0.04444725 0.11188858 0.05906419 0.0428301
 0.05991551 0.05557225 0.04333049]

In [86]:
X_new.columns

Index(['week', 'center_id', 'meal_id', 'checkout_price', 'base_price',
       'emailer_for_promotion', 'homepage_featured', 'city_code',
       'region_code', 'op_area', 'category_y', 'cuisine_y', 'category^2',
       'category^cuisine', 'cuisine^2'],
      dtype='object')

In [91]:
from xgboost import XGBRegressor

my_model=XGBRegressor()
my_model.fit(X_train,y_train,verbose=False)
my_model.score(X_test,y_test)

0.6460177979535173

In [92]:
my_model=XGBRegressor(n_estimators=1000,learning_rate=0.05)
my_model.fit(X_train,y_train,early_stopping_rounds=5,eval_set=[(X_test,y_test)],verbose=False)
my_model.score(X_test,y_test)

0.7372929825247335

In [93]:
from sklearn.preprocessing import PolynomialFeatures

ply=PolynomialFeatures(degree=2,interaction_only=False,include_bias=False)
ply_scaled=ply.fit_transform(t[['category','cuisine']])

ply_df=pd.DataFrame(ply_scaled,columns=['category','cuisine','category^2','category^cuisine','cuisine^2'])

t_new=pd.merge(t,ply_df,how='outer',left_index=True,right_index=True)
t_new.drop(columns=['id','category_x','cuisine_x','center_type'],axis=1,inplace=True)

In [97]:
y_pred=ext.predict(t_new)
y_pred
#Ypred=my_model.predict(t_new)
#Ypred

array([414.25354 , 414.25354 , 414.25354 , ...,   8.288635,   8.288635,
         8.288635], dtype=float32)

In [98]:
submission=pd.DataFrame({'id': t['id'],'num_orders': y_pred})
#sub=pd.DataFrame({'id': t['id'],'num_orders': Ypred})

In [99]:
submission.to_csv('genpact.csv',index=False)
#sub.to_csv('genpact1.csv',index=False)